nav {
  display: flex;
  justify-content: space-around;
  background-color: black;
color: purple;
}

div {
    color: #B25A56;
  }

  div:focus,
  div:hover {
    color: navajowhite;
  }

#media {
  max-width: 640px;
  flex-direction: column;
}
